{% extends 'base.html' %}
  {% load cache %}
  {% load thumbnail %}
  {% block title %}
    {{ title }}
  {% endblock title %}
  {% block content %}
    <main> 
      <div class="container py-5">    
        {% with index=False follow=True %}
          {% include 'posts/includes/switcher.html'%}
        {% endwith %} 
        <h1>Посты из подписок</h1>
        {% cache 2 follow_page %}
        {% for post in object_list %}
          {% with form=form field=field button_text='Сменить пароль' %}
            {% include 'posts/includes/post_list.html' %} 
          {% endwith %}
          {% if not forloop.last %}        
            <hr>
          {% endif %}
        {% endfor %}
        {% endcache %}
        {% include 'posts/includes/paginator.html' %}
      </div>  
    </main>
  
  {% endblock content %}

